*.pyc
__pycache__
django_static
backend/db.sqlite3
processes/*
logs/*
rabbitmq/*
!logs/README.txt
!processes/README.txt
!rabbitmq/enabled_plugins
.env
*.bak
db.sqlite3
pipelines/pipelines.yaml
docker-compose.yml
