version: "3.9"

services:

  backend: &backend
    build:
      context: ./backend
      args:
        - "USERID=${USERID:-1000}"
        - "GROUPID=${GROUPID:-1000}"
        - "USERNAME=${USERNAME:-orcapp}"
    command: /app/sh/start.sh
    user: "1000:1000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - ./pipelines:/pipelines # pipelines repo
      - ./datasets:/datasets # datasets repo
      - ./processes:/processes
      - ./logs:/logs
    depends_on:
      - rabbitmq
  #    - database

  # database:
  #   image: postgres:13.6-alpine
  #   env_file:
  #     - .env
  #   expose:
  #     - 5432
  #   volumes:
  #     - ./pg_data:/var/lib/postgresql/data

  # celery_slurm_worker: &celery_slurm_worker
  #   <<: *backend
  #   command: /app/sh/slurm_worker.sh
  #   depends_on:
  #     - backend

  celery_local_worker: &celery_local_worker
    <<: *backend
    command: /app/sh/local_worker.sh
    depends_on:
      - backend

  celery_flower: &celery_flower
    <<: *backend
    command: /app/sh/flower.sh
    ports:
      - 5555:5555
    depends_on:
      - backend

  rabbitmq:
    image: "rabbitmq:3.12.12-management"
    env_file:
      - .env
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - "./rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins"
      - "./rabbitmq/data/:/var/lib/rabbitmq/"
      - "./rabbitmq/log/:/var/log/rabbitmq/"

  nginx:
    image: nginx:1.21.6-alpine
    ports:
      - 80:8080
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
