#!/bin/bash

# Developer config
# Load your environment (using pyenv, conda, etc..)
# pyenv egg.: . ./.venv/bin/activate 

# Change to your orchestration path
ORCHEST_PATH=<ORCHESTRATION path>

# Add orchestration path in PYTHONPATH
if [ ! -d "$PYTHONPATH" ]; then
    export PYTHONPATH=$ORCHEST_PATH
else
    export PYTHONPATH=$PYTHONPATH:$ORCHEST_PATH
fi

export PIPELINES_DIR=$ORCHEST_PATH/pipelines

export ORCHEST_LOG_DIR=$ORCHEST_PATH/logs

# levels DEBUG, INFO, WARN and ERROR
export ORCHEST_LOGGING_LEVEL="DEBUG"

export CELERY_BROKER_URL=pyamqp://guest@localhost//
export CELERY_RESULT_BACKEND=redis://localhost:6379

# class responsible for handling task callbacks.
# It is essential that the class can be instantiated in this way:
# from <package> import <class> (e.g.: from callbacks import CallbackTask)
# export PYCALLBACK_CLASS=callbacks.CallbackTask
