#!/bin/bash

export APP_DIR=/scripts/app.orch/[dev|production]
export BASE_DIR=${APP_DIR}/orchestration
export CONDA_PATH=${APP_DIR}/miniconda3/bin/activate

export WORKER_NAME="slurm"
export SLURM_EXECUTOR="slurm"

source $CONDA_PATH

conda activate slurm-worker

set -a
. ${BASE_DIR}/.env
set +a

export PATH=$PATH:$BASE_DIR/backend/sh/

umask g+w

## TNO settings
## Database Connections URI
export DB_ADMIN_URI=
export DB_CATALOG_URI=
export EXECUTION_ENV="linea"
export PLANETARY_EPHEMERIS_FILEPATH=
export LEAP_SECONDS_FILEPATH=

